# Qdrant server configuration
# Learn more: https://qdrant.tech/documentation/ops-configuration/configuration/
# This template is copied to /homeassistant/addons/qdrant/production.yaml on
# first start, where you can edit it.

log_level: INFO

service:
  host: 0.0.0.0
  http_port: ${QDRANT_HTTP_PORT}
  grpc_port: ${QDRANT_GRPC_PORT}

storage:
  storage_path: /data/qdrant/storage
  snapshots_path: /data/qdrant/snapshots
