{
  "webDav": {
    "baseUrl": "${WEBDAV_BASE_URL}",
    "userName": "${WEBDAV_USERNAME}",
    "password": "${WEBDAV_PASSWORD}",
    "syncFolderPath": "${WEBDAV_SYNC_FOLDER_PATH}"
  },
  "syncProvider": "WebDAV",
  "syncInterval": "${SYNC_INTERVAL_IN_MS}",
  "isCompressionEnabled": ${IS_COMPRESSION_ENABLED},
  "isEncryptionEnabled": ${IS_ENCRYPTION_ENABLED}
}