vocechat/.devcontainer/mounts/data/
vocechat/.devcontainer/mounts/config/
!vocechat/.devcontainer/mounts/data/options.json
mongodb/.devcontainer/mounts/data/
mongodb/.devcontainer/mounts/config/
!mongodb/.devcontainer/mounts/data/options.json
