mongodb/.devcontainer/mounts/data/db/
mongodb/.devcontainer/mounts/data/keyfile
mongodb/.devcontainer/mounts/data/app.err
mongodb/.devcontainer/mounts/config/

dns/.devcontainer/mounts/data/config
dns/.devcontainer/mounts/data/app.err
dns/.devcontainer/mounts/config/

conduit/.devcontainer/mounts/data/conduit/
conduit/.devcontainer/mounts/data/app.err
conduit/.devcontainer/mounts/config/

rustfs/.devcontainer/mounts/data/rustfs/
rustfs/.devcontainer/mounts/data/app.err
rustfs/.devcontainer/mounts/config/

schildichat/.devcontainer/mounts/data/schildichat/
schildichat/.devcontainer/mounts/data/app.err
schildichat/.devcontainer/mounts/config/


